

body {
    background-color: black;
    color: white;      
    font-family: Helvetica, sans-serif;
    margin: 0;
}

/* The clock block */
#clock {
    font-size: 2.5rem;
    text-align: center;
}

.date {
    font-size: 2rem;
    text-align: center;
}

.time {
    font-size: 6rem;
    text-align: center;
}

/* The weather block */
#weather {
    font-size: 2.5rem;
    text-align: center;
}

.temp {
    font-size: 2rem;
    text-align: center;
}

.city {
    font-size: 1.5rem;
    text-align: center;
}

.current {
    display: flex;
    align-items: center;   
    justify-content: center;  
    margin-left: 3rem;
}

.today {
    color: red;
    font-weight: bold;
}